/*General*/

body { padding-top: 70px; 
	background-color: #6AA2D7;
	font-size: 1em;
}

a {
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
	transition: background-color .5s ease;
}

.padding1em {
	padding: 1em;
}

.padding-halfem {
	padding: .5em;
}

.margin1em {
	margin: 1em;
}

.margin-halfem {
	margin: .5em;
}

.margin-r-halfem {
	margin-right: .5em;
}

.margin-r-1em {
	margin-right: 1em;
}

.margin-top-1em {
	margin-top: 1em;
}

.margin-top-2em {
	margin-top: 2em;
}

.margin-top-negative-halfem {
	margin-top: -.5em;
}


h1 {
	font-size: 5em;
	color: #EDEFEF;
}

h2 {
	font-size: 2.5em;
	color: #EDEFEF;
}

h3 {
	font-size: 1.75em;
}

p {
	font-size: 1.5em;
	color: #EDEFEF;
}

ul.larger {
	font-size: 1.5em; 
}

.larger {
	font-size: 1.5em;
}

.extra-space {
	margin-bottom: 3em;
}

.top-line {
	border-top: 1px solid #fff;
}








/*Color Schemes*/
.purple {
	background-color: #675466;
}

.teal {
	background-color: #557F77;
}

.red {
	background-color: #B44B51;
}

.green {
	background-color: #81A156;
}

.blue {
	background-color: #4A738E;
}

.true-blue {
	background-color: #6AA2D7;
}







/*Header*/

	/*PURPLE Breadcrumb*/
	ul.breadcrumb_custom_purple {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #675466;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}

	.breadcrumb_custom_purple a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_purple a:hover { 
		background-color: #fff;
		color: #6AA2D7;
		text-decoration: none;
	}

	.breadcrumb_custom_purple li:last-child {
		font-weight: bold;
	}

	/*TEAL Breadcrumb*/
	ul.breadcrumb_custom_teal {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #557F77;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}
	 
	.breadcrumb_custom_teal a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_teal a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}

	.breadcrumb_custom_teal li:last-child {
		font-weight: bold;
	}

	/*RED Breadcrumb*/
	ul.breadcrumb_custom_red {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #B44B51;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}
	 
	.breadcrumb_custom_red a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_red a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}

	.breadcrumb_custom_red li:last-child {
		font-weight: bold;
	}

	/*GREEN Breadcrumb*/
	ul.breadcrumb_custom_green {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #81A156;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}
	 
	.breadcrumb_custom_green a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_green a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}

	.breadcrumb_custom_green li:last-child {
		font-weight: bold;
	}

	/*BLUE Breadcrumb*/
	ul.breadcrumb_custom_blue {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #4A738E;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}
	 
	.breadcrumb_custom_blue a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_blue a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}

	.breadcrumb_custom_blue li:last-child {
		font-weight: bold;
	}


	/*TRUE-BLUE Breadcrumb*/
	ul.breadcrumb_custom_true-blue {
		margin: 7.5em 0 0 0;
		padding: 1.5em 1em 1em 1em;
		background-color: #6AA2D7;
		border-top: .5px solid #fff;
		z-index: 1;	
		color: #ddd;
		font-size: 1.25em;
	}
	 
	.breadcrumb_custom_true-blue a{
		color: #ddd;
		padding: .5em;
	}

	.breadcrumb_custom_true-blue a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}

	.breadcrumb_custom_true-blue li:last-child {
		font-weight: bold;
	}






	/*Nav*/
	.navbar {
		padding: 3em 0 0 0;
		font-size: 1.25em;
		z-index: 2;
	}

	#navbar {
		margin-top: -1em;
	}

	.collapse.navbar-collapse.navbar-right{
	margin-top: -1em;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-weight: bold;
	}

	.navbar-default .navbar-nav>li>a:hover {
		background-color: #fff;
		color: #6AA1D7;
	}

	.navbar-default .navbar-nav>a:active {
		background-color: #ccc;
		color: #6AA1D7;
	}

	.navbar-default .navbar-nav>.active>a {
		background-color: #1f295c;
		color: #fff;
	}

	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a.active {
		background-color: #ccc;
		color: #6AA1D7;
	}

	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover.active {
		background-color: #fff;
		color: #6AA1D7;
	}

	.navbar-default .navbar-nav>.active>a:hover {
		background-color: #fff;
		color: #6AA1D7;
	}

	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		background-color: #fff;
		color: #6AA1D7;
	}

	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		background-color: #fff;
		color: #6AA1D7;
	}

	.navbar-brand {
		margin-top: -2em;
	}

	.navbar-default .navbar-toggle {
		background: #fff;
	}

	.navbar-default .navbar-toggle:hover {
		background: #bebebf;
	}

	.nav_line1 {
		margin-top: -5em;
	}

	.nav_line1 a {
		color: #fff;
		font-weight: bold;
	}

	.nav_line1 a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
		font-weight: bold;
	}

	.nav_line1 a:active {
		background-color: #6AA1D7;
		color: #fff;
	}

	@media (max-width: 775px) {
			.navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: #fff;
		}

		.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
			background-color: #fff;
			color: #6AA1D7;
		}

		.nav_line1 {
		margin-top: 1em;
		}

		.navbar-toggle {
		margin-top: -9.75em;
		}

		nav.navbar-nav {
			margin-top: 20em;
		}

		ul.breadcrumb_custom_purple {
			margin: 11.5em 0 0 0;		
		}

		ul.breadcrumb_custom_teal {
			margin: 11.5em 0 0 0;
		}

		ul.breadcrumb_custom_red {
			margin: 11.5em 0 0 0;
		}

		ul.breadcrumb_custom_green {
			margin: 11.5em 0 0 0;
		}

		ul.breadcrumb_custom_blue {
			margin: 11.5em 0 0 0;
		}

		ul.breadcrumb_custom_true-blue {
			margin: 11.5em 0 0 0;
		}

	}





/*Footer*/
footer.footer {
	padding: 1.5em 0 1em 0;
	/*background: #1f295c;*/
}

footer .text-muted {
	color: #dddddd;
	margin-top: -.5em;
}

footer a {
	color: #fff;
	padding: .5em;
}

footer a:hover {
	background-color: #fff;
	color: #6AA1D7;
	text-decoration: none;
}






/*Main body*/

.main {
	margin: 4.75em 0 0 0;
}

	@media (max-width: 775px) {
		.main {
			margin: 8em 0 0 0;
		}
	}


.main a {
	color: #fff;
	padding: .25em;
	font-weight: 700;
	font-size: 1.1em;
}

.main a:visited {
	color: #772377;
	padding: .25em;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;5
	}

.main a:hover {
	/*background-color: #fff;*/
	color: #0B61A8;
	padding: .25em;
	text-decoration: none;
	font-size: 1.1em;
	}

.bold {
	font-weight: bold;
}

.padding_1em {
	padding: 1em;
}

.margin-top_2em {
	margin-top: 2em;
}

.h3_smaller {
	font-size: 1.25em;
}

.bg-primary {
	background: #1f295c;
	padding: .5em;
}

.bg-success {
	background: #91bf6e;
	padding: .5em;
}

.page-title {
	margin: 2em 0;
}

.page-intro {
	margin: 1em 0;
}

.transition {
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
	transition: background-color .5s ease;
}


	/*HOME page*/
	header.index {
		margin-top: -4em;
	}

	.indexMain {
		margin: -5.75em 0 0 0;
		background: url(../images/banner/denver-790472_1920_large.jpg) #6AA2D7;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.indexMain a:hover {
		background-color: none;
	}

	.index-purple-block {
		background-color: #897189;
		padding: .5em .5em 2.75em .5em;
		margin-bottom: 2em;
	}

	.index-purple-block:hover {
		background-color: #6AA1D7;
	}

	.index-teal-block {
		background-color: #557F77;
		padding: .5em;
		margin-bottom: 2em;
	}

	.index-teal-block:hover {
		background-color: #6AA1D7;
	}

	.index-red-block {
		background-color: #B44B51;
		padding: .5em .5em 1em .5em;
		/*margin-bottom: 2em;*/
	}

	.index-red-block:hover {
		background-color: #6AA1D7;
	}

	.index-green-block {
		background-color: #81A157;
		padding: .5em;
		margin-bottom: 2em;
	}

	.index-green-block:hover {
		background-color: #6AA1D7;
	}

	.index-blue-block {
		background-color: #4A738E;
		padding: .5em;
		margin-bottom: 2em;
	}

	.index-blue-block:hover {
		background-color: #6AA1D7;
	}

	.indexMain a {
		color: #fff;
		text-decoration: none;
	}

	.indexNav a {
		color: #fff;
		text-decoration: none;
	}

	.indexNav a:hover {
		background-color: #fff;
		color: #6AA1D7;
		text-decoration: none;
	}


	/*PURPLE pages*/
	.purpleMain {
		background: url(../images/banner/denver-790472_1920_large_purple.jpg) #675466;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.purple-block {
		background-color: #897189;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}

	.purple-block_nomargin {
		margin: -1.25em;
		padding: 1em;
		background-color: #897189;
	}

	.joe {
		/*align-items: flex-end;
		align-content: flex-end;*/
		background-position: right 20px bottom 10px;
		background: url(../images/novak_300.png) #675466;
		background-repeat: no-repeat;
	}



	/*TEAL pages*/
	.tealMain {
		background: url(../images/banner/denver-790472_1920_large_teal2.jpg) #557F77;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.teal-block {
		background-color: #68A097;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}

	/*RED pages*/
	.redMain {
		background: url(../images/banner/denver-790472_1920_large_red.jpg) #B44B51;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.red-block {
		background-color: #D75F6B;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}

	/*GREEN pages*/
	.greenMain {
		background: url(../images/banner/denver-790472_1920_large_green.jpg) #81A156;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.green-block {
		background-color: #A5C66E;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}

	/*BLUE pages*/
	.blueMain {
		background: url(../images/banner/denver-790472_1920_large_blue.jpg) #4A738E;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.blue-block {
		background-color: #598AA5;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}


	/*TRUE-BLUE pages*/
	.true-blueMain {
		background: url(../images/banner/denver-790472_1920_large_true-blue.jpg) #6AA2D7;
		background-repeat: no-repeat;
		color: #fff; 
		padding: 1em 0 2em 0;
	}

	.true-blue-block {
		background-color: #7FBFF4;
		padding: 1em;
		margin: 1em 1em 3em 1em;

	}

/*	.sitemap a{
		background-color: #7FBFF4;
		color: #fff;
		font-weight: bold;
	}

	.sitemap a:visited{
		background-color: #7FBFF4;
		color: #ccc;
		font-weight: bold;
	}

	.sitemap a:hover{
		background-color: #7FBFF4;
		color: #d56;
		font-weight: bold;
	}*/



/*Contact Form*/
.submit {
	padding: .5em;
	color: #555;
	width: 15em;
	font-weight: bold;
}

.submit:hover {
	background-color: #fff;
	color: #6AA1D7;
}

ul li.parsley-required {
	background-color: #3fe;
	color: #333;
	padding: .25em;
	list-style: none;

}

.submission-success {
	background-color: #fff;
	padding: 2em;
}

.submission-success h2 {
	color: black;
}



